include ../mixins/mixins.pug

block variables
    - let utcDate = new Date();
    - let day = utcDate.getDate();
    - let month = utcDate.getMonth();
    - let year = utcDate.getFullYear();
    - let hours = utcDate.getHours();
    - let minutes = utcDate.getMinutes();
    - let date = `${day}${month}${year}${hours}${minutes}`;

doctype html
html.html(lang="ru")

    head

        meta(charset='utf-8')
        title TechForestPage
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
        meta(name="theme-color" content="#ffffff")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='HandheldFriendly', content='True')
        meta(name='google', content='notranslate')
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='address=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(property='og:locale', content='ru_RU')
        meta(property='og:type', content='website')
        meta(name="msapplication-TileImage" type="image/x-icon" rel="shortcut icon" content="/favicon.ico?" + date)
        link(rel="stylesheet" href="/css/main.css?" + date)

    body.body

        block layoutPage

        noscript У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.